@page "/pendenz"

@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using System.Globalization
@using System.Reflection.Metadata
@using DailyMarketData.Repositorys
@using DailyMarketData.Models
@inject PendenzRepository PendenzRepo

<h3>Pendenz</h3>

<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Erstellt</th>
            <th>Anbieter</th>
            <th>Titel</th>
            <th>Mitgliedsanforderung</th>
            <th class="alignCenter"><span class="oi oi-magnifying-glass"></span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pendenz pendenz in PendenzList.OrderByDescending(p => p.IsOffen).ThenBy(p => p.CreatedAt))
        {
        <tr>
            @if (pendenz.IsOffen)
            {
                <td class="tdMinWidth">Offen</td>
            }
            else
            {
                <td class="tdMinWidth">Abgeschlossen</td>
            }
            <td class="tdMinWidth">@pendenz.CreatedAt.ToString("dd.MM.yyyy")</td>
            <td class="tdMinWidth">@pendenz.Anbieter?.Vorname @pendenz.Anbieter?.Nachname</td>
            <td>@pendenz.Titel</td>
            <td class="tdMinWidth">@pendenz.Mitgliedsanforderung?.Bezeichnung</td>
            <td class="alignCenter tdMinWidth"><button class="btn btn-primary" @onclick="@(new Action( () => NavigateToPendenzEdit(pendenz.Id)))">Detail</button></td>
        </tr>
        }

    </tbody>
</table>
<button class="btn btn-primary" @onclick="NavigateToPendenzCreate">Neue Pendenz</button>

@code {
    protected List<Pendenz> PendenzList { get; set; } = new List<Pendenz>();

    protected override async Task OnInitializedAsync()
    {
        PendenzList = await PendenzRepo.GetPendenzAsync();
    }

    void DeletePendenz(int id)
    {
        PendenzRepo.DeletePendenzAsync(id);
        Pendenz removePendenz = PendenzList.SingleOrDefault(x => x.Id == id);
        if (removePendenz != null)
        {
            PendenzList.Remove(removePendenz);
        }
    }

    void NavigateToPendenzEdit(int id)
    {
        NavigationManager.NavigateTo($"pendenz/{id}");
    }

    void NavigateToPendenzCreate()
    {
        NavigationManager.NavigateTo("pendenz/create");
    }
}
