@page "/anbieter"

@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using System.Reflection.Metadata
@using DailyMarket.constants
@using DailyMarketData.Repositorys
@using DailyMarketData.Models
@inject AnbieterRepository AnbieterRepo

<h3>Anbieter</h3>

<table class="table">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Status</th>
            <th class="alignCenter"><span class="oi oi-magnifying-glass"></span></th>
            <th class="alignCenter"><span class="oi oi-delete"></span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Anbieter anbieter in AnbieterList.OrderByDescending(a => a.Status).ThenBy(a => a.Vorname))
        {
            <tr>
                <td>@anbieter.Vorname</td>
                <td>@anbieter.Nachname</td>
                <td>@AnbieterStatus.StatusText.GetValueOrDefault(anbieter.Status)</td>
                <td class="alignCenter"><button class="btn btn-primary" @onclick="@(new Action( () => NavigateToAnbieterEdit(anbieter.Id)))">Bearbeiten</button></td>
                <td class="alignCenter"><button class="btn btn-danger" @onclick="@(new Action( ()=> DeleteAnbieter(anbieter.Id)))">Löschen</button></td>
            </tr>
        }

    </tbody>
</table>
<button class="btn btn-primary" @onclick="NavigateToAnbieterCreate">Neuer Anbieter</button>

@code {
    protected List<Anbieter> AnbieterList { get; set; } = new List<Anbieter>();

    protected override async Task OnInitializedAsync()
    {
        AnbieterList = await AnbieterRepo.GetAnbieterAsync();
    }

    void DeleteAnbieter(int id)
    {
        AnbieterRepo.DeleteAnbieterAsync(id);
        Anbieter removeAnbieter = AnbieterList.SingleOrDefault(x => x.Id == id);
        if (removeAnbieter != null)
        {
            AnbieterList.Remove(removeAnbieter);
        }
    }

    void NavigateToAnbieterEdit(int id)
    {
        NavigationManager.NavigateTo($"anbieter/{id}");
    }

    void NavigateToAnbieterCreate()
    {
        NavigationManager.NavigateTo("anbieter/create");
    }
}
