@page "/anbieter/create"
@page "/anbieter/{Id:int}"

@inject NavigationManager NavigationManager
@inject AnbieterRepository AnbieterRepo

@using System.Security.Claims
@using DailyMarket.constants
@using DailyMarketData.Repositorys
@using DailyMarketData.Models
@using Microsoft.AspNetCore.Components

<h3>@title</h3>

<EditForm Model="@Anbieter" OnValidSubmit="@SaveAnbieter">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label for="vorname">Vorname: </label>
        <InputText id="vorname" @bind-Value="@Anbieter.Vorname" />
    </p>
    <p>
        <label for="nachname">Nachname: </label>
        <InputText id="nachname" @bind-Value="@Anbieter.Nachname" />
    </p>
    <p>
        <label>Status: </label>
        <select class="form-control selectWidth" @onchange="@SelectClicked">
            <option value="@AnbieterStatus.Neu">@AnbieterStatus.StatusText.GetValueOrDefault(AnbieterStatus.Neu)</option>
            <option value="@AnbieterStatus.Provisorisch">@AnbieterStatus.StatusText.GetValueOrDefault(AnbieterStatus.Provisorisch)</option>
            <option value="@AnbieterStatus.Mitglied">@AnbieterStatus.StatusText.GetValueOrDefault(AnbieterStatus.Mitglied)</option>
        </select>
    </p>

    <button class="btn btn-primary" type="submit" >@submitBtnText</button>
</EditForm>
    <button class="btn btn-danger" @onclick="NavigateToAnbieter">Abbrechen</button>

@code {
    [Parameter]
    public int? Id { get; set; }

    [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private Anbieter Anbieter { get; set; } = new Anbieter(){Status = 0};

    private string title;

    private string submitBtnText;

    protected override async Task OnInitializedAsync()
    {
        if (Id.HasValue)
        {
            Anbieter = await AnbieterRepo.GetAnbieterAsync(Id.Value);
            title = "Anbieter bearbeiten";
            submitBtnText = "Speichern";
        }
        else
        {
            title = "Neuer Anbieter erfassen";
            submitBtnText = "Anbieter erfassen";
        }
    }

    private async Task SaveAnbieter()
    {
        AuthenticationState authState = await AuthenticationStateTask;
        ClaimsPrincipal user = authState.User;

        if (Id.HasValue)
        {
            Anbieter.UpdatedBy = user.Identity.Name;
            AnbieterRepo.UpdateAnbieter(Anbieter);
        }
        else
        {
            Anbieter.CreatedBy = user.Identity.Name;
            AnbieterRepo.CreateAnbieter(Anbieter);
        }
        NavigateToAnbieter();
    }

    private void SelectClicked(ChangeEventArgs e)
    {
        Anbieter.Status = int.Parse(e.Value.ToString());
    }

    private void NavigateToAnbieter()
    {
        NavigationManager.NavigateTo("anbieter");
    }

}
