@page "/anbieter/create"
@page "/anbieter/{Id:int}"

@inject NavigationManager NavigationManager
@inject AnbieterRepository AnbieterRepo
@inject MitgliedsanforderungRepository MitgliedsanforderungRepo

@using System
@using System.Security.Claims
@using DailyMarket.constants
@using DailyMarketData.Repositorys
@using DailyMarketData.Models
@using Microsoft.AspNetCore.Components

<h3>@title</h3>
<div class="container float-left">
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@Anbieter" OnValidSubmit="@SaveAnbieter">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <p>
                    <label for="vorname">Vorname: </label>
                    <InputText id="vorname" @bind-Value="@Anbieter.Vorname" />
                </p>
                <p>
                    <label for="nachname">Nachname: </label>
                    <InputText id="nachname" @bind-Value="@Anbieter.Nachname" />
                </p>
                <p>
                    <label>Status: </label>
                    <select class="form-control selectWidth" @onchange="@SelectClicked">
                        <option value="@AnbieterStatus.Neu">@AnbieterStatus.StatusText.GetValueOrDefault(AnbieterStatus.Neu)</option>
                        <option value="@AnbieterStatus.Provisorisch">@AnbieterStatus.StatusText.GetValueOrDefault(AnbieterStatus.Provisorisch)</option>
                        <option value="@AnbieterStatus.Mitglied">@AnbieterStatus.StatusText.GetValueOrDefault(AnbieterStatus.Mitglied)</option>
                    </select>
                </p>

                <button class="btn btn-primary" type="submit">@submitBtnText</button>
            </EditForm>
            <button class="btn btn-danger" @onclick="NavigateToAnbieter">Abbrechen</button>
        </div>
        @if (Id.HasValue)
        {
            <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Mitgliedsanforderung</th>
                            <th>Gültig bis</th>
                            <th>Erfüllt</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (MitgliedsanforderungView mitgliedsanforderung in mitgliedsanforderungViewList)
                        {
                            <tr>
                                <td>@mitgliedsanforderung.Bezeichnung</td>
                                <td>@mitgliedsanforderung.GueltigBis?.ToString("dd.MM.yyyy")</td>
                                @if (@mitgliedsanforderung.Erfuellt)
                                {
                                    <td><span class="oi oi-circle-check"></span></td>
                                } else
                                {
                                    <td><span class="oi oi-circle-x"></span></td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
            </div>
        }
    </div>
 </div>
    @code {
        [Parameter]
        public int? Id { get; set; }

        [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

        private Anbieter Anbieter { get; set; } = new Anbieter();

        private List<MitgliedsanforderungView> mitgliedsanforderungViewList = new List<MitgliedsanforderungView>();

        private string title;

        private string submitBtnText;

        protected override async Task OnInitializedAsync()
        {
            List<Mitgliedsanforderung> mitgliedsanforderungen = await MitgliedsanforderungRepo.GetMitgliedsanforderungAsync();
            if (Id.HasValue)
            {
                Anbieter = await AnbieterRepo.GetAnbieterAsync(Id.Value);
                foreach (Mitgliedsanforderung mitgliedsanforderung in mitgliedsanforderungen)
                {
                    MitgliedsanforderungAnbieter ma = Anbieter.MitgliedsanforderungAnbieter.SingleOrDefault(m => m.Id == mitgliedsanforderung.Id);
                    mitgliedsanforderungViewList.Add(new MitgliedsanforderungView()
                    {
                        Bezeichnung = mitgliedsanforderung.Bezeichnung,
                        Erfuellt = ma != null,
                        GueltigBis = ma?.GueltigBis
                    });
                }
                title = "Anbieter bearbeiten";
                submitBtnText = "Speichern";
            }
            else
            {
                title = "Neuer Anbieter erfassen";
                submitBtnText = "Anbieter erfassen";
            }
        }

        private async Task SaveAnbieter()
        {
            AuthenticationState authState = await AuthenticationStateTask;
            ClaimsPrincipal user = authState.User;

            if (Id.HasValue)
            {
                Anbieter.UpdatedBy = user.Identity.Name;
                AnbieterRepo.UpdateAnbieter(Anbieter);
            }
            else
            {
                Anbieter.CreatedBy = user.Identity.Name;
                AnbieterRepo.CreateAnbieter(Anbieter);
            }
            NavigateToAnbieter();
        }

        private void SelectClicked(ChangeEventArgs e)
        {
            if(Enum.TryParse(e.Value.ToString(), out Anbieter.AnbieterStatus status))
                Anbieter.Status = status;
        }

        private void NavigateToAnbieter()
        {
            NavigationManager.NavigateTo("anbieter");
        }

    }
